@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);
  --font-sans: var(--font-rubik);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --color-chart: var(--chart);
}

:root {
  --background: #fafafa;
  --foreground: #111111;
  --card: #ffffff;
  --card-foreground: #111111;
  --popover: #ffffff;
  --popover-foreground: #111111;
  --primary: #e24e6e;
  --primary-foreground: #ffffff;
  --secondary: #f1f5f9;
  --secondary-foreground: #111111;
  --muted: #f1f5f9;
  --muted-foreground: #888888;
  --accent: #fff1f2;
  --accent-foreground: #e11d48;
  --border: #eeeeee;
  --input: #eeeeee;
  --ring: #e11d48;
  --destructive: #dc2626;
  --radius: 0.625rem;
  --chart: #468cd1;
}

.dark {
  --background: #0f0e17;
  --foreground: #eeeffe;
  --card: #252340;
  --card-foreground: #eeeffe;
  --popover: #1a1828;
  --popover-foreground: #eeeffe;
  --primary: #7f77dd;
  --primary-foreground: #eeeffe;
  --secondary: #252340;
  --secondary-foreground: #eeeffe;
  --muted: #1a1828;
  --muted-foreground: #afa9ec;
  --accent: #252340;
  --accent-foreground: #afa9ec;
  --border: rgba(127, 119, 221, 0.2);
  --input: rgba(127, 119, 221, 0.15);
  --ring: #7f77dd;
  --destructive: #f87171;
  --radius: 0.625rem;
  --chart: rgb(135, 126, 234);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  .recharts-wrapper:focus,
  .recharts-surface:focus,
  .recharts-layer:focus {
    outline: none;
  }
}
